.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.size {
    width: 120px;
    margin-right: 10px;
}

.height {
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    size: 30px;
    margin-left: 30px;
}

.sizeCity {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 22px;
    margin-bottom: -25px;
}